@model List<ProductViewModel>


@{
    ViewData["Title"] = "WebApp: Home";
}

<div class="text-left">
    <h1 class="display-4">Catalogo dei prodotti</h1>
    <p>ciao <a href="https://www.google.com/">link</a>.</p>
</div>

@foreach (ProductViewModel product in Model)
{   
<div class="container">   
    <div class="row product">
        <div class="col-md-3 title">
        <h2>@product.Title</h2>

        </div>
        <div class="col-md-2 rating" title="@product.Rating">
            @for(int i=1;i<=5;i++){

            if(product.Rating >= i)
            {
                <i class="fa fa-star"></i>
            } 
            else if(product.Rating > i-1)
            {
                <i class="fa fa-star-half-alt"></i>
            } 
            else
            {
                <i class="fa-regular fa-star"></i>
            }
            }
        </div>
            

        <div class="col-md-2 price">
        @product.CurrentPrice@if(!product.CurrentPrice.Equals(product.FullPrice)){
        <br><s>@product.FullPrice</s> 
            }
        </div>

        <div class="col-md-2">
        <a class="btn btn-outline-primary" asp-action="Detail" asp-route-id="@product.Id" asp-controller="Product">More</a>  
        </div>
    </div>
</div>    
} 


